
# {
    -fx-font-family : 'Open Sans'
}

.login {
    -fx-background-color: #888888;
    -fx-font-family: 'Open Sans Medium';
}

.signup {
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
}

.vbox {
    -fx-spacing: 10;
    -fx-background-color:  #888888;
}

.vbox .button {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-family: 'Open Sans SemiCondensed Medium';
}